@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  background: #f4f7fa;
  color: #080808;
}

button,
input,
select {
  font: inherit;
}
